
(define model-source-dir "SHAREDDIR")

(prefix "SHAREDDIR")

(env `(
       (NEMO         . "$HOME/bin/chicken/bin/nemo")
       (CHICKEN_DIR  . "/home/r/raikov/bin/chicken")
       (NEST_DIR     . "/apps/DeschutterU/nest-2.2.1/")
       (NEURON_DIR   . "/apps/DeschutterU/nrn-7.3-alpha-755/x86_64")
       (SUNDIALS_DIR . "/apps/DeschutterU/sundials-2.5.0/")
       (OCTAVEPP     . "/home/r/raikov/src/octave-strip-comments.sh")
       ))

(define Poisson "Poisson stimulus")
(define Iinj "current injection")
(define Vclamp "voltage clamp")


(modules `(

	  (Purkinje_Khaliq03_nemo_octave_vclamp
	   (label . "Purkinje Khaliq 2003")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_octave_vclamp"))
           (meta (platform . Octave) (protocol . ,Vclamp))
           )

	  (Purkinje_Khaliq03_nemo_neuron_vclamp
	   (label . "Purkinje Khaliq 2003")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_neuron_vclamp"))
           (meta (platform . NEURON) (protocol . ,Vclamp))
           )

	  (Purkinje_Khaliq03_nemo_neuron_run
	   (label . "Purkinje Khaliq 2003")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_neuron_run"))
           (meta (platform . NEURON) (protocol . ,Iinj))
           )

	  (Purkinje_Khaliq03_nemo_nest_gsl_run
	   (label . "Purkinje Khaliq 2003")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_nest_gsl_run"))
           (meta (platform . NEST) (protocol . ,Iinj))
           )

	  (Purkinje_Khaliq03_nemo_nest_cvode_run
	   (label . "Purkinje Khaliq 2003")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_nest_cvode_run"))
           (meta (platform . NEST) (protocol . ,Iinj))
           )

	  (Golgi_Solinas08_nemo_neuron_run
	   (label . "Golgi Solinas 2008")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_neuron_run"))
           (meta (platform . NEURON) (protocol . ,Iinj))
           )

	  (Golgi_Solinas08_nemo_nest_gsl_run
	   (label . "Golgi Solinas 2008")
	   (config-path  .  ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_nest_gsl_run"))
           (meta (platform . NEST) (protocol . ,Iinj))
           )

	  (Golgi_Solinas08_nemo_nest_cvode_run
	   (label . "Golgi Solinas 2008")
	   (config-path  .  ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_nest_cvode_run"))
           (meta (platform . NEST/CVODE) (protocol . ,Iinj))
           )

	  (Golgi_Solinas08_nemo_neuron_vclamp
	   (label . "Golgi Solinas 2008")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_neuron_vclamp"))
           (meta (platform . NEURON) (protocol . ,Vclamp))
           )

	  (Golgi_Solinas08_nemo_octave_vclamp
	   (label . "Golgi Solinas 2008")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_octave_vclamp"))
           (meta (platform . Octave) (protocol . ,Vclamp))
           )

	  (Golgi_DeSouza10_nemo_neuron_netstim_run
	   (label . "Golgi DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_neuron_netstim_run"))
           (meta (platform . NEURON) (protocol . ,Poisson))
           )

	  (Golgi_DeSouza10_nemo_neuron_run
	   (label . "Golgi DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_neuron_run"))
           (meta (platform . NEURON) (protocol . ,Iinj))
           )
           
	  (Golgi_DeSouza10_nemo_nest_gsl_run
	   (label . "Golgi DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_nest_gsl_run"))
           (meta (platform . NEST) (protocol . ,Iinj))
           )

	  (Golgi_DeSouza10_nemo_nest_run
	   (label . "Golgi DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_nest_cvode_run"))
           (meta (platform . NEST/CVODE) (protocol . ,Iinj))
           )

	  (Golgi_DeSouza10_nemo_neuron_vclamp
	   (label . "Granule DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_neuron_vclamp"))
           (meta (platform . NEURON) (protocol . ,Vclamp))
           )

	  (Golgi_DeSouza10_nemo_octave_vclamp
	   (label . "Golgi DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_octave_vclamp"))
           (meta (platform . Octave) (protocol . ,Vclamp))
           )

	  (Golgi_DeSouza10_nemo_nest_cvode_netstim
	   (label . "Golgi DeSouza10")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_nest_cvode_netstim"))
           (meta (platform . NEST/CVODE) (protocol . ,Poisson))
           )

	  (Granule_DeSouza10_nemo_neuron_run
	   (label . "Granule DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_neuron_run"))
           (meta (platform . NEURON) (protocol . ,Iinj))
           )

	  (Granule_DeSouza10_nemo_nest_gsl_run
	   (label . "Granule DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_nest_gsl_run"))
           (meta (platform . NEST) (protocol . ,Iinj))
           )

	  (Granule_DeSouza10_nemo_nest_cvode_run
	   (label . "Granule DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_nest_cvode_run"))
           (meta (platform . NEST/CVODE) (protocol . ,Iinj))
           )

	  (Granule_DeSouza10_nemo_neuron_vclamp
	   (label . "Granule DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_neuron_vclamp"))
           (meta (platform . NEURON) (protocol . ,Vclamp))
           )

	  (Granule_DeSouza10_nemo_octave_vclamp
	   (label . "Granule DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_octave_vclamp"))
           (meta (platform . Octave) (protocol . ,Vclamp))
           )

	  ))
