
(define model-source-dir "/home/igr/src/model/nemo/model-ci")

(env `(
       (NEMO        . "$HOME/bin/chicken/bin/nemo")
       (NEST_DIR    . "$HOME/bin/nest")
       (NEURON_DIR  . "/usr/local")
       (CHICKEN_DIR . "$HOME/bin/chicken")
       ))

(modules `(
	  (Golgi_Solinas08_nemo_neuron_run
	   (label . "Golgi Solinas08 model test (NEMO-generated NEURON simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_neuron_run")))

	  (Golgi_Solinas08_nemo_nest_run
	   (label . "Golgi Solinas08 model test (NEMO-generated NEST simulation)")
	   (config-path  .  ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_nest_run")))

	  (Golgi_Solinas08_nemo_neuron_vclamp
	   (label . "Golgi Solinas08 model voltage clamp (NEMO-generated Octave simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_neuron_vclamp")))

	  (Golgi_Solinas08_nemo_octave_vclamp
	   (label . "Golgi Solinas08 model voltage clamp (NEMO-generated Octave simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_octave_vclamp")))

	  (Golgi_DeSouza10_nemo_neuron_run
	   (label . "Golgi DeSouza10 model test (NEMO-generated NEURON simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_neuron_run")))

	  (Golgi_DeSouza10_nemo_nest_run
	   (label . "Golgi DeSouza10 model test (NEMO-generated NEST simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_nest_run")))

	  ))


