
(define model-source-dir "SHAREDDIR")

(prefix "SHAREDDIR")

(env `(
       (NEMO         . "$HOME/bin/chicken/bin/nemo")
       (CHICKEN_DIR  . "/home/r/raikov/bin/chicken")
       (NEST_DIR     . "/apps/DeschutterU/nest-2.2.0/")
       (NEURON_DIR   . "/apps/DeschutterU/nrn-7.3-alpha-755/x86_64")
       (SUNDIALS_DIR . "/apps/DeschutterU/sundials-2.5.0/")
       (OCTAVEPP     . "/home/r/raikov/src/octave-strip-comments.sh")
       ))

(modules `(

	  (Purkinje_Khaliq03_nemo_octave_vclamp
	   (label . "Purkinje Khaliq03 model voltage clamp (NEMO-generated Octave simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_octave_vclamp")))

	  (Purkinje_Khaliq03_nemo_neuron_vclamp
	   (label . "Purkinje Khaliq03 model voltage clamp (NEMO-generated NEURON simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_neuron_vclamp")))

	  (Purkinje_Khaliq03_nemo_neuron_run
	   (label . "Purkinje Khaliq03 model test (NEMO-generated NEURON simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_neuron_run")))

	  (Purkinje_Khaliq03_nemo_nest_run
	   (label . "Purkinje Khaliq03 model test (NEMO-generated NEST simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_nest_run")))

	  (Granule_DeSouza10_nemo_neuron_run
	   (label . "Granule DeSouza10 model test (NEMO-generated NEURON simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_neuron_run")))

	  (Granule_DeSouza10_nemo_nest_run
	   (label . "Granule DeSouza10 model test (NEMO-generated NEST simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_nest_run")))

	  (Golgi_Solinas08_nemo_neuron_run
	   (label . "Golgi Solinas08 model test (NEMO-generated NEURON simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_neuron_run")))

	  (Golgi_Solinas08_nemo_nest_run
	   (label . "Golgi Solinas08 model test (NEMO-generated NEST simulation)")
	   (config-path  .  ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_nest_run")))

	  (Golgi_Solinas08_nemo_neuron_vclamp
	   (label . "Golgi Solinas08 model voltage clamp (NEMO-generated Octave simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_neuron_vclamp")))

	  (Golgi_Solinas08_nemo_octave_vclamp
	   (label . "Golgi Solinas08 model voltage clamp (NEMO-generated Octave simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_octave_vclamp")))

	  (Golgi_DeSouza10_nemo_neuron_run
	   (label . "Golgi DeSouza10 model test (NEMO-generated NEURON simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_neuron_run")))

	  (Golgi_DeSouza10_nemo_nest_run
	   (label . "Golgi DeSouza10 model test (NEMO-generated NEST simulation)")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_nest_run")))

	  ))


