
(define model-source-dir "/home/igr/src/model/model-ci")

(prefix "/home/igr/build/model-ci")

(env `(
       (NEMO         . "$HOME/bin/chicken/bin/nemo")
       (NEST_DIR     . "$HOME/bin/nest")
       (NEURON_DIR   . "/usr/local")
       (CHICKEN_DIR  . "/home/igr/bin/chicken")
       (SUNDIALS_DIR . "/usr")
       (OCTAVEPP     . "")
       ))

(define Iinj "current injection")
(define Vclamp "voltage clamp")

(modules `(

	  (Purkinje_Khaliq03_nemo_octave_vclamp
	   (label . "Purkinje Khaliq 2003")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_octave_vclamp"))
           (meta (platform . Octave) (protocol . ,Vclamp))
           )

	  (Purkinje_Khaliq03_nemo_neuron_vclamp
	   (label . "Purkinje Khaliq 2003")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_neuron_vclamp"))
           (meta (platform . NEURON) (protocol . ,Vclamp))
           )

	  (Purkinje_Khaliq03_nemo_neuron_run
	   (label . "Purkinje Khaliq 2003")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_neuron_run"))
           (meta (platform . NEURON) (protocol . ,Iinj))
           )

	  (Purkinje_Khaliq03_nemo_nest_gsl_run
	   (label . "Purkinje Khaliq 2003")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_nest_gsl_run"))
           (meta (platform . NEST) (protocol . ,Iinj))
           )

	  (Purkinje_Khaliq03_nemo_nest_cvode_run
	   (label . "Purkinje Khaliq 2003")
	   (config-path  . ,(make-pathname model-source-dir "Purkinje_Khaliq03_nemo_nest_cvode_run"))
           (meta (platform . NEST) (protocol . ,Iinj))
           )

	  (Golgi_Solinas08_nemo_neuron_run
	   (label . "Golgi Solinas 2008")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_neuron_run"))
           (meta (platform . NEURON) (protocol . ,Iinj))
           )

	  (Golgi_Solinas08_nemo_nest_gsl_run
	   (label . "Golgi Solinas 2008")
	   (config-path  .  ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_nest_gsl_run"))
           (meta (platform . NEST) (protocol . ,Iinj))
           )

	  (Golgi_Solinas08_nemo_nest_cvode_run
	   (label . "Golgi Solinas 2008")
	   (config-path  .  ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_nest_cvode_run"))
           (meta (platform . NEST/CVODE) (protocol . ,Iinj))
           )

	  (Golgi_Solinas08_nemo_neuron_vclamp
	   (label . "Golgi Solinas 2008")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_neuron_vclamp"))
           (meta (platform . NEURON) (protocol . ,Vclamp))
           )

	  (Golgi_Solinas08_nemo_octave_vclamp
	   (label . "Golgi Solinas 2008")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_Solinas08_nemo_octave_vclamp"))
           (meta (platform . Octave) (protocol . ,Vclamp))
           )

	  (Golgi_DeSouza10_nemo_neuron_run
	   (label . "Golgi DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_neuron_run"))
           (meta (platform . NEURON) (protocol . ,Iinj))
           )
           
	  (Golgi_DeSouza10_nemo_nest_gsl_run
	   (label . "Golgi DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_nest_gsl_run"))
           (meta (platform . NEST) (protocol . ,Iinj))
           )

	  (Golgi_DeSouza10_nemo_nest_run
	   (label . "Golgi DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Golgi_DeSouza10_nemo_nest_cvode_run"))
           (meta (platform . NEST/CVODE) (protocol . ,Iinj))
           )

	  (Golgi_DeSouza10_nemo_neuron_vclamp
	   (label . "Granule DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_neuron_vclamp"))
           (meta (platform . NEURON) (protocol . ,Vclamp))
           )

	  (Golgi_DeSouza10_nemo_octave_vclamp
	   (label . "Granule DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_octave_vclamp"))
           (meta (platform . Octave) (protocol . ,Vclamp))
           )


	  (Granule_DeSouza10_nemo_neuron_run
	   (label . "Granule DeSouza10")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_neuron_run"))
           (meta (platform . NEURON) (protocol . ,Iinj))
           )

	  (Granule_DeSouza10_nemo_nest_gsl_run
	   (label . "Granule DeSouza10")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_nest_gsl_run"))
           (meta (platform . NEST) (protocol . ,Iinj))
           )

	  (Granule_DeSouza10_nemo_nest_cvode_run
	   (label . "Granule DeSouza10")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_nest_cvode_run"))
           (meta (platform . NEST/CVODE) (protocol . ,Iinj))
           )

	  (Granule_DeSouza10_nemo_neuron_vclamp
	   (label . "Granule DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_neuron_vclamp"))
           (meta (platform . NEURON) (protocol . ,Vclamp))
           )

	  (Granule_DeSouza10_nemo_octave_vclamp
	   (label . "Granule DeSouza 2010")
	   (config-path  . ,(make-pathname model-source-dir "Granule_DeSouza10_nemo_octave_vclamp"))
           (meta (platform . Octave) (protocol . ,Vclamp))
           )

	  ))
